/* 使 body 內的內容垂直和水平居中 */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 讓內容在整個視窗高度內居中 */
    margin: 0;
    font-family: Microsoft JhengHei;
    background-color: #E1E1DF;

}

/* 調整 .loginform 的外觀，並使其垂直居中 */
.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.input {
    border: 1px solid lightgray;
    padding: 8px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.smtitle {
    font-size: 18px;
    margin-bottom: 5px;
}

.loginBtn {
    width: 45%;
    height: 40px;
    margin-top: 10px;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: inherit;
}
.header {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E1E1DF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.icon-container {
    display: flex;
    gap: 15px;
}

.icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 20px;
}
